@* Author: David Scott Blackburn *@
@* Project: Notebook Demo App *@
@* Version: 2.0.0 *@
@* Purpose: This is the menu used for the landing page's sub pages *@

    <nav class="navbar navbar-fixed-top nvbar-expand-sm bg-info navbar-inverse">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("David Blackburn's Portfolio", "Index", "Default", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("About", "About", "Default")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Default")</li>
                    <li>@Html.ActionLink("Profiles & Services", "Profiles", "Default")</li>
                    <li>@Html.ActionLink("Gallery", "Gallery", "Default")</li>
                    <li>@Html.ActionLink("Blogs & Docs", "Documents", "Default")</li>
                    <li>@Html.ActionLink("Interactive Resume", "GetResume", "Default")</li>
                </ul>
            </div>
        </div>
    </nav>
